.header {
  background-color: $black;
  font-size: $text_s;
  margin: $no_space;
}
.header__title {
  color: $white;
  background-color: $black;
  padding: $space_m;
  margin: $no_space;
}
.header_subtitle {
  color: $purple;
  padding: $no_space $space_s $space_m $space_m;
  margin: $no_space;
}
.header_error {
  color: $red;
}
