//colors
$purple : #8357c5;
$dark-purple: #9059e2;
$black: black;
$white: white;
$off-white: #ffffffd4;
$red: red;
$off-black: rgb(85, 85, 85);


//size
$no_space: 0px;
$space_s: 8px;
$space_m: 16px;
$space_l: 24px;
$space_xl: 32px;

//text
$text_s: 1.2rem;
$text_m: 1.4rem;
$text_l: 1.6rem;
$text_xl: 1.8rem;